.wrapper {
    position: fixed;
    /* top: 20px; */
    width: 100%;
    padding: 30px;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    background: rgba(0,0,0,0.5);

}

.logoWrapper {
    height: 0px;
}

.logo {
    width: 300px;
    top: 10px;
    margin-top: 10px;
    /* position: absolute; */
    position: sticky;
    z-index: 99999;
    margin-left:60px;
}

.nav {
    text-transform: uppercase;
    display: flex;
    gap: 10px;
}

