
.wrapper {
    background-image: url('/gallery/image1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}


.vinette {
    position:absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.aboutContent {
    color: white;
    width: 75%;
    z-index: 99999;
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 0 auto;


    @media (max-width: 1200px) {
        width: 90%;
    }

    @media (max-width: 1000px) {
        width: 80%;
        flex-direction: column;
    }
}


.logo {
    width: 350px;
    top: 0px;
}

.gallery {
    background: url(/glow.png);
    background-position-x: 100px;
    background-position-y: -20px;
    background-size: 100%;
}

.sliderOne {
    width: 400px;
    height: 250px;
    overflow: hidden;
    background: black;
}

.sliderTwo {
    z-index: 99999;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background: black;
    margin-top: 50px;

}

.sliderThree {
    width: 225px;
    height: 300px;
    overflow: hidden;
    background: black;
    margin-left:-40px;
    margin-top: -20px;
}

.smallerSlides {
    display: flex;
    margin-left: 100px;
}


.sliderOneBody {
    display: flex;
}

/* .sliderOne.img {
    max-width: 100%;
    width: 100%;
} */

.sliderOneImage  {
    max-width: 100%;
    width: 400px;
    height: 250px;
    margin-right: 100px;
}

.sliderTwoImage  {
    max-width: 100%;
    width: 300px;
    height: 200px;
    margin-right: 100px;
}

.sliderThreeImage  {
    max-width: 100%;
    width: 225px;
    height: 300px;
    margin-right: 100px;
}

.studioCopy {
    width: 500px;
}